<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="wpContacts_Session_Outlook_Add_In_Setup" Language="1033" Version="1.0.0.0" Manufacturer="Waller Alexander" UpgradeCode="0fe9de38-b3b6-43ea-88e2-cc884a79d9ba">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <!--<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />-->

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <!--<UIRef Id="WixUI_Minimal" />-->
    <Feature Id="ProductFeature" Title="wpContacts_Outlook_Add_in_Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!--<InstallExecuteSequence>
      <Custom Action="Set_Action1_Install_Props" After="InstallInitialize" />
      <Custom Action="Action1_Install" Before="InstallFinalize"> (NOT (REMOVE="ALL")) </Custom>
      <Custom Action="Set_Action2_Uninstall_Props" After="InstallInitialize" />
      <Custom Action="Action2_Uninstall" Before="RemoveFiles"> (REMOVE="ALL") </Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>

      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
    
    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>-->

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="!(bind.property.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="wpContacts_Outlook_Add_in_Setup" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>


  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Source="$(var.wpContact-Outlook-Add-in.TargetPath)" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
