<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wpContact_Outlook_Add_in.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <wpContact_Outlook_Add_in.MySettings>
            <setting name="LastConfigFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLDataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLInitialCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="OlContactGroupPrefix" serializeAs="String">
                <value>_Verteiler</value>
            </setting>
            <setting name="OlFolder" serializeAs="String">
                <value>Kontakte Mandatare</value>
            </setting>
            <setting name="isConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnzSessionMitarbeiter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnzSessionGremien" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnzOutlookItems" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnzOutlookKontakte" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnzOutlookVerteiler" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NetworkConfigStore" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultConfigFile" serializeAs="String">
                <value>wpContacts-Session-Outlook-Addin.xml</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
        </wpContact_Outlook_Add_in.MySettings>
    </userSettings>
</configuration>
